<h1>hello World from hello file</h1>
<%= 1+4 %></br></br>

<% target= "Sam" %>
<%= "hello #{target}" %></br></br>

<%= 
3.times do |n| 
  puts n
end
%></br></br>    

<% 3.times do |n|  %>
<%= n %>
<% end %></br></br>

<% @array.each do |n| %>
<%= n %>
<% end %></br>

ID : <%= @id %></br>
ID: <%= params[:id] %></br>
Page: <%= @page %>
